/* You can add global styles to this file, and also import other style files */

/* google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Ballet&display=swap');

body{
    display: block;
    margin: 10px;
}

*{
  outline: none;
}

input.ng-invalid.ng-touched{
//background: red;
  border: 1px solid red;
}
